body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  display: flex;

}

ul {
  padding: 0;
}

.cell {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell * {
  font-weight: bold;
}

.cell:hover {
  border: 2px solid #32cd32;
}

.hitMark {
  display: none;
  color: red;
}

.shadowMark{
  font-size: 30px;
  color: gray;
  display: none;
}

.missMark {
  display: none;
}

.cell.hit .hitMark {
  display: inline;
}

.cell.miss .missMark {
  display: inline;
}

.cell.shadow .shadowMark {
  display: inline;
}

.boards {
  display: flex;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 0 50px;
}

.boards {
  display: flex;

}
